html {
    width: 100%;
    height: 100%;
  }
  
body {
    font-size: 16px;
    font-family: "Lato", "Basic", 'Roboto', sans-serif;
    /* to smooth fonts */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
 
h1 {
    margin: 0;
    padding: 0;
    font-family: "Basic";
    font-size: 1.8rem;
    text-decoration: bold;
    text-align: center;
}

p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: white;
    outline: white;
    border-radius: 3px;
    border: solid grey 1px;
    margin: 0 5px;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    transform: scale(1);
}

input {
    display: inline-block;
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 0;
}

.container {
margin: 0 auto;
padding: 0 15%;
max-width: 1920px;
height: 100%;
}

.input {
    border-radius: 10px;
    border: solid grey 1px;
    margin: 1rem 0;
    padding: .5rem;
}

.input__field {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    margin: .5rem 0;
}


.input__left {
    width: 60%;
}


.input__right {
    width: 40%;
    display: flex;
    justify-content: center;
}

#input__number {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: solid grey 1px;
}

#generate, #stop {
    width: 6rem;
    height: 2rem;
}

p > span {
    font-style: italic;
}



.color__display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.color__display-item {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color__display-item:first-child {
    border-radius: 5px 5px 0 0 ;
}

.color__display-item:last-child {
    border-radius: 0 0 5px 5px;
}

.color__display-text {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(75, 72, 72);
    margin-left: 5%;
}


.color__display-copy {
    border-radius: 3px;
    border: solid grey 1px;
    margin-right: 5%;
    height: 1.5rem;
    cursor: pointer;
}

.color__display-copy:active {
    transform: scale(1.1);
}

@media only screen and (max-width: 1324px) {
    .container {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 1080px) {
    .input__field {
        padding: 0 10%;
    }
    .container {
        padding: 0 3%;
    }
}

@media only screen and (max-width: 960px) {
    .container {
        padding: 0 1%;
    }
    .input__field {
        padding: 0 5%;
    }
    
}

@media only screen and (max-width: 680px) {
    .input__field {
        padding: 0 1%;
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin: .5rem;
    }

    .input__right {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    .input__left {
        width: 100%;
    }

}